.dialogContainer {
  display: grid;
  place-items: center;
  place-content: center;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  font-size: var(--step--1);
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: var(--step-3);
  text-align: center;
}
.text {
  margin-bottom: 2rem;
  font-size: var(--step--1);
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-block: 0.3rem;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
  outline: 0;
  color: black;
  padding: 0.45rem 1rem;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: var(--step--2);
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  left: 2%;
  display: block;
  font-size: var(--step--2);
  transition: 0.2s;
  color: rgb(30, 89, 138);
}

.form__field:focus {
  padding-bottom: 6px;
  border: none;
  border-bottom: 2px solid gray;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, rgb(63, 143, 209), rgb(30, 89, 138));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  left: 2%;
  display: block;
  transition: 0.2s;
  color: rgb(34, 120, 146);
  font-weight: 500;
}
.form__field,
.form__field:required,
.form__field:invalid {
  box-shadow: none;
  font-size: var(--step--1);
}

.btnsContainer {
  margin-top: 3rem;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  padding-block: 1rem;
  padding-inline: min(1.25rem, 1.5vw);
  font-size: var(--step--1);
  border: 0;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #fff;
}

.btn:hover,
.btn:focus-visible {
  opacity: 1;
  transform: translateY(-0.25rem);
}

.btnCrearOrden {
  background-color: #1c86d6;
  color: rgb(241, 241, 241);
  font-weight: bold;
  opacity: 1;
}
